#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Espaço Aluno - CEUB
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=ikeganhimebcpaganigbogmnpknnbaoc
Icon=chrome-ikeganhimebcpaganigbogmnpknnbaoc-Default
StartupWMClass=crx_ikeganhimebcpaganigbogmnpknnbaoc
